[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swaybg -c "#2E3440" -m center -i "%h/Pictures/Greatwave.png"
Restart=on-failure
