* {
    border: none;
    border-radius: 0;
    font-family: Cascadia Mono NF, monospace;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: #FCFBF9; /* Earl Grey background */
    color: #605A52;            /* Earl Grey foreground */
}

#workspaces button {
    color: #605A52;            /* Earl Grey foreground */
    padding-left: 0.7em;
}

#workspaces button.empty {
    color: #BEBBB6;            /* Earl Grey bright black */
}

/* Style for individual modules */
#clock,
#cpu,
#memory,
#disk,
#network,
#pipewire,
#tray,
#window {
    padding: 0 10px;
    margin: 0 2px;
    color: #605A52;            /* Earl Grey foreground */
    background-color: transparent;
}

#tray {
    padding: 0 5px;
}

#window {
    font-weight: bold;
}
